mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    display: block;
}

button {
    margin-top: 30px;
}

button {
    margin: auto;
}

mat-form-field {
    width: 100%;
    margin-right: 1em;
}

form {
    margin: 15px;
}

table {
    width: 100%;
}