<app-toolbar></app-toolbar>
<div class="centeringContainer">
  <form class="newCertForm">
    <!-- subject data -->
    <mat-form-field id="subjectNameField" appearance="standard">
      <mat-label>Subject</mat-label>
      <input
        [value]="this.subjectName"
        matInput
        class="newCertInput"
        disabled
      />
      <mat-hint>Subject Data</mat-hint>
    </mat-form-field>

    <!-- signature alg -->
    <mat-form-field class="newCertField" appearance="standard">
      <mat-label>Signature Algorithm</mat-label>
      <mat-select
        class="newCertInput"
        [(ngModel)]="newCert.signatureAlg"
        name="signatureAlg"
      >
        <mat-option
          *ngFor="let signatureAlg of signatureAlgs"
          [value]="signatureAlg"
          >{{ signatureAlg }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- date picker -->
    <mat-form-field class="newCertField" appearance="standard">
      <mat-label>Validity Period</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
  </form>
  <mat-tab-group
    (selectedTabChange)="changeTemplate($event)"
    class="tabNav"
    mat-align-tabs="center"
  >
    <mat-tab
      *ngFor="let template of extensionTemplates"
      [label]="template"
      class="centeringContainer"
    >
    </mat-tab>
  </mat-tab-group>

  <form class="newCertForm">
    <!-- aki data -->
    <div class="akiskiDiv">
      <mat-form-field class="akiskiField" appearance="standard">
        <mat-label>Authority Key Identifier</mat-label>
        <input matInput class="newCertInput" />
        <mat-hint>Identifier</mat-hint>
      </mat-form-field>
      <button class="generateBtn" mat-button>Generate</button>
    </div>

    <!-- Basic Constraints -->
    <div *ngIf="showbc" class="newCertField" appearance="standard">
      <label id="kilabel">Basic Constraints</label>
      <section aria-labelledby="kilabel">
        <mat-checkbox
          class="margins"
          [checked]="newCert.extensions.basicConstraints.subjectIsCa"
          (change)="newCert.extensions.basicConstraints.subjectIsCa = $event.checked"
          > Subject Is CA
        </mat-checkbox>
      </section>
    </div>

    <!-- Key Usage -->
    <div class="newCertField" appearance="standard">
      <label id="kilabel">Key usage</label>
      <section aria-labelledby="kilabel">
        <mat-checkbox
          class="margins"
          *ngFor="let usage of keyUsages"
          [checked]="newCert.extensions.keyUsage.keyUsages.includes(usage)"
          (change)="updateCheckedKeyUsages(usage, $event)"
          >{{ usage }}
        </mat-checkbox>
      </section>
    </div>

    <!-- eku data -->
    <div *ngIf="showeku" class="newCertField" appearance="standard">
      <label id="ekilabel">Extended Key usage</label>
      <section aria-labelledby="ekilabel">
        <mat-checkbox
          class="margins"
          *ngFor="let usage of extendedKeyUsages"
          [checked]="newCert.extensions.extendedKeyUsage.keyUsages.includes(usage)"
          (change)="updateCheckedExtendedKeyUsages(usage, $event)"
          >{{ usage }}
        </mat-checkbox>
      </section>
    </div>

    <!-- ski -->
    <div class="akiskiDiv">
      <mat-form-field class="akiskiField" appearance="standard">
        <mat-label>Subject Key Identifier</mat-label>
        <input matInput class="newCertInput" />
        <mat-hint>Identifier</mat-hint>
      </mat-form-field>
      <button class="generateBtn" mat-button>Generate</button>
    </div>

    <!-- san -->
    <mat-form-field *ngIf="showsan" class="newCertField" appearance="standard">
      <mat-label>Subject Alternative Name</mat-label>
      <input matInput class="newCertInput" />
      <mat-hint>Identifier</mat-hint>
    </mat-form-field>
  </form>
  <button (click)="signCsr()" id="sendBtn" mat-stroked-button color="primary">
    Sign
  </button>
</div>
