.centeringContainer {
  display: grid;
  place-items: center;
}

.tabNav {
  margin: 16px;
}

.margins {
  margin-top: 16px;
  margin-right: 16px;
}

.newCertForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  place-items: center;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 120px!important;
  padding: 3px!important;
  margin: 3px!important;
 }

.newCertField {
  width: 480px;
  margin-top: 16px;
}

.akiskiDiv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  place-items: center;
  width: 480px;
  margin-top: 16px;
}

.generateBtn {
  float: right;
  margin-left: 10px;
  width: 24%;
}

.akiskiField {
  width: 100%;
}

#subjectNameField {
  width: 100%;
  margin-top: 16px;
}

#sendBtn {
  margin-top: 16px;
}
