<app-toolbar></app-toolbar>
<div class="centeringDiv">
  <div class="tableWrapper mat-elevation-z8">
    <div *ngIf="dataSource.data.length > 0">
      <table mat-table [dataSource]="dataSource">
        <!-- Id -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">
            {{ element.id }}
          </td>
        </ng-container>
        <!-- Common name Column -->
        <ng-container matColumnDef="CommonName">
          <th mat-header-cell *matHeaderCellDef>Common Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.x500Name.commonName }}
          </td>
        </ng-container>

        <!-- Organizational Unit Column -->
        <ng-container matColumnDef="OrganizationalUnit">
          <th mat-header-cell *matHeaderCellDef>Organizational Unit</th>
          <td mat-cell *matCellDef="let element">
            {{ element.x500Name.organizationUnit }}
          </td>
        </ng-container>

        <!-- Organization Column -->
        <ng-container matColumnDef="Organization">
          <th mat-header-cell *matHeaderCellDef>Organization</th>
          <td mat-cell *matCellDef="let element">
            {{ element.x500Name.organization }}
          </td>
        </ng-container>

        <!-- Locality Column -->
        <ng-container matColumnDef="Locality">
          <th mat-header-cell *matHeaderCellDef>Locality</th>
          <td mat-cell *matCellDef="let element">
            {{ element.x500Name.locale }}
          </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="State">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let element">
            {{ element.x500Name.state }}
          </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element">
            {{ element.x500Name.country }}
          </td>
        </ng-container>

        <!-- purpose Column -->
        <ng-container matColumnDef="Purpose">
          <th mat-header-cell *matHeaderCellDef>Certificate Purpose</th>
          <td mat-cell *matCellDef="let element">
            {{ certificatePurposesLabelsRef[element.purpose] }}
          </td>
        </ng-container>

        <!-- signAction Column -->
        <ng-container matColumnDef="Sign">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="'sign-csr/' + element.id" mat-stroked-button
              >Sign</a
            >
          </td>
        </ng-container>

        <!-- deleteAction Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button (click)="onDeleteCSR(element)">
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div *ngIf="dataSource.data.length === 0">
      <app-such-empty></app-such-empty>
    </div>
    <div id="pagination-row">
      <div id="spinner-box">
        <mat-spinner
          [diameter]="40"
          [hidden]="!waitingResults"
          id="loading-spinner"
        ></mat-spinner>
      </div>
      <mat-paginator
        [pageSizeOptions]="[1, 5, 10, 20]"
        [pageSize]="pageSize"
        [pageIndex]="pageNum"
        [length]="totalElements"
        showFirstLastButtons
        aria-label="Select page"
        (page)="onSelectPage($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
