.mat-table {
  width: 1600px;
}

.tableWrapper {
  display: grid;
  place-items: center;
  margin-top: 24px;
}
table {
  width: 100%;
}

.table-container {
  margin: 15px;
  padding: 10px;
}

#pagination-row {
  display: flex;
  justify-content: space-between;
}

#spinner-box {
  margin-top: auto;
}
