<app-toolbar></app-toolbar>
<div class="mainContainer">
  <mat-tab-group class="tabNav" mat-align-tabs="center">
    <mat-tab label="PEM Format" class="centeringContainer">
      <div class="centeringContainer">
        <form class="csrForm">
          <mat-form-field class="pemField" appearance="outline">
            <mat-label>CSR in PEM format</mat-label>
            <textarea matInput class="pemInput"></textarea>
            <mat-hint>Input your CSR</mat-hint>
          </mat-form-field>
          <button
            mat-stroked-button
            (click)="sendGeneratedCSR()"
            color="primary"
          >
            Send
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="X500 form">
      <form class="x500Form">
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Country</mat-label>
          <input
            [(ngModel)]="csr.x500Name.country"
            name="country"
            matInput
            class="x500Input"
            placeholder="RS"
          />
          <mat-hint>Input your Country name</mat-hint>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>State</mat-label>
          <input
            [(ngModel)]="csr.x500Name.state"
            name="state"
            matInput
            class="x500Input"
            placeholder="Juznobacki okrug"
          />
          <mat-hint>Input your State name</mat-hint>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Locality</mat-label>
          <input
            [(ngModel)]="csr.x500Name.locale"
            name="locality"
            matInput
            class="x500Input"
            placeholder="Novi Sad"
          />
          <mat-hint>Input your Locality</mat-hint>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Organization</mat-label>
          <input
            [(ngModel)]="csr.x500Name.organization"
            name="organization"
            matInput
            class="x500Input"
            placeholder="Fakultet tehnickih nauka"
          />
          <mat-hint>Input your Organization</mat-hint>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Organizational Unit</mat-label>
          <input
            [(ngModel)]="csr.x500Name.organizationUnit"
            name="organizationalUnit"
            matInput
            class="x500Input"
            placeholder="Departman za elektroteniku i racunarstvo"
          />
          <mat-hint>Input your Organizational Unit</mat-hint>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Common Name</mat-label>
          <input
            [(ngModel)]="csr.x500Name.commonName"
            name="commonName"
            matInput
            class="x500Input"
            placeholder="Dusan Hajduk"
          />
          <mat-hint>Input your Common Name</mat-hint>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Certificate Purpose</mat-label>
          <mat-select class="x500Input" [(ngModel)]="csr.purpose" name="purpose">
            <mat-option *ngFor="let purpose of certificatePurposes; let i = index" [value]="i">{{purpose}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="x500Field" appearance="standard">
          <mat-label>Locality</mat-label>
          <input
            [(ngModel)]="csr.x500Name.email"
            name="email"
            matInput
            class="x500Input"
            placeholder="hajduk.dusan@yahoo.com"
          />
          <mat-hint>Enter the email</mat-hint>
        </mat-form-field>
        <button mat-stroked-button (click)="generateCSR()" color="primary">
          Send
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
