<mat-toolbar color="primary">
  <a mat-button routerLink="/" class="small" value="home_page"
    ><span>Home</span></a
  >
  <a mat-button routerLink="/new-csr" value="new_csr"><span>New CSR</span></a>
  <a mat-button routerLink="/csrs" value="csrs"><span>CSRs</span></a>
  <a mat-button routerLink="/certificates" value="view_certs"
    ><span>Certificates</span></a
  >
  <a mat-button routerLink="/users" value="users"><span>Users</span></a>
  <a mat-button routerLink="/create-real-estate" value="create_real_estate"
    ><span>Create real estate</span></a
  >
  <a mat-button routerLink="/blacklist-jwt" value="blacklist_jwt"
    ><span>Blacklist JWT</span></a
  >
  <span class="standard-spacer"></span>
  <a mat-button routerLink="/login" value="login"><span>Login</span></a>
  <a mat-button (click)="logout()" value="logout"><span>Logout</span></a>
  <a mat-button routerLink="/register" value="register"
    ><span>register</span></a
  >
  <a mat-icon-button aria-label="My account"
    ><mat-icon>account_box</mat-icon></a
  >
</mat-toolbar>
