<mat-toolbar color="primary">
    <a mat-button routerLink="/" class="small" value="home_page"><span>Home</span></a>
    <a mat-button routerLink="/new-csr" value="new_csr"><span>New CSR</span></a>
    <a mat-button routerLink="/csrs" value="csrs"><span>CSRs</span></a>
    <a mat-button routerLink="/certificates" value="view_certs"><span>Certificates</span></a>
  <span class="standard-spacer"></span>
  <a mat-icon-button aria-label="My account"><mat-icon>account_box</mat-icon></a>
</mat-toolbar>
